
@{
    ViewData["Title"] = "Register";
}

@model LoginClass

<h1>Register</h1>

@using (Html.BeginForm("RegisterAction", "Login", FormMethod.Post))
{

    <label for="Name" class="form-label">Name</label>
    @Html.TextBoxFor(model => model.UserDetails.Name, new { @class = "form-control", @placeholder = "name" })

    <label for="Email" class="form-label">Email Address</label>
    @Html.TextBoxFor(model => model.UserDetails.Email, new { @type = "email", @class = "form-control", @placeholder = "name@example.com" })

    <label for="Password" class="form-label">Password</label>
    @Html.TextBoxFor(model => model.UserDetails.Password, new { @type = "password", @class = "form-control" })

    <label for="Password" class="form-label">Reenter Password</label>
    @Html.TextBoxFor(model => model.UserDetails.PasswordReentered, new { @type = "password", @class = "form-control" })

    <div id="notificationBar"></div>

    <button class="btn btn-primary" type="submit">Register</button>
}

@using (Html.BeginForm("GoToLogin", "Home", FormMethod.Post))
{
    <button class="btn btn-primary" type="submit">Login</button>
}

<script>
    var modelOutput = @Html.Raw(Json.Serialize(Model));
    var message = modelOutput.message.notificationMessage;

    var messageBar = document.getElementById("notificationBar")
    messageBar.innerHTML = message;

</script>
